#About{
  height:1000px;
}

a, a:visited, a:active{
  color: inherit;
}

body{
  background-color: #DDDDDD;
  font-family: monospace;
  margin: 0px;
}

header{
  width:100%;
  display: flex;
  background-color: rgba(255,255,255,0.7);
}

#main-menu-toggle{
  display: none;
}

#main-menu-close{
  display:none;
}

header h1 {
  width: 70%;
  font-size: 3em;
  font-weight: 100;
  padding: 0 0 0 2%;
}

header>nav{
  width: 30%;
}

header>nav>ul {
  width: 100%;
  height: 75%;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header>nav>ul>li {
  font-size: 2em;
  padding: 1.5%;
}

header>nav>ul>li>a {
  text-decoration: none;
}

/*****************About page************************/
.about-details{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.about-grid{
  width:25%;
  position: relative;
  list-style-type: none;
}

.about-img{
  width:100%;
}

.img-caption-heading{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
  font-size: 2em;
  text-align:center;
}

.img-caption-details{
  opacity: 0;
  position: absolute;
  color: #fff;
  top: 65%;
  left: 0%;
  text-align: center;
  font-size: 1.2em;
}

.about-grid:hover .about-img{
  opacity: 0.7;
}

.about-grid:hover .img-caption-details{
  transition: .5s ease;
  -webkit-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  opacity: 1;
}

.show{
  display: block;
}

.hide{
  display: none !important;
}

/*****************Projects page************************/
#Projects{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #DDDDDD;
}

.Project-grid-3{
  width: 27%;
}

.Project-grid-2{
  width: 45%;
}

.Project-grid-3, .Project-grid-2{
  height:200px;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
  margin: 1%;
  padding: 1%;
}

.Project-grid-3 h2, .Project-grid-2 h2{
  font-size: 2.5em;
  font-weight: 100;
}

.Project-grid-3 p, .Project-grid-2 p{
  font-size: 1.2em;
}

.Project-grid-3 a, .Project-grid-2 a{
  text-decoration: none;
}

/************ Contact page *****************/
#Contact{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form{
  width:70%;
  margin: 5%;
  background-color: rgba(255,255,255,0.8);
  padding: 2%;
}

.contact-form input, .contact-form label{
  width:80%;
  margin: 1%;
  height: 4em;
  font-size: 1em;
}

/****Footer******/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a{
  width: 3em;
  margin: 1%;
}

footer img{
  width:100%;
}

/*****Media queries *******/
/*Tablet*/
@media only screen and (min-width:421px) and (max-width:960px){
  .about-grid{
    width:50%;
  }

  .Project-grid-3{
    width: 50%;
  }

  .Project-grid-2{
    width: 50%;
  }
}

/*Mobile*/
@media only screen and (max-width:420px){
  .about-grid{
    width:100%;
  }

  .Project-grid-3{
    width: 100%;
  }

  .Project-grid-2{
    width: 100%;
  }

  #main-menu-toggle{
    display: block;
    position: absolute;
    right: 5%;
  }

  #main-menu{
    position: absolute;
    display: none;
    top: 2%;
    right: 10%;
  }

  #main-menu-close{
    position: absolute;
    right: -15%;
    top: 15%;
  }

  #main-menu-toggle:target+#main-menu{
    display: block;
  }

  #main-menu-toggle:target+#main-menu>#main-menu-close{
    display:block;
  }

  #main-menu>ul>li{
    font-size: 1.5em;
  }

}
